body{
background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
}
    .container{
       
background: #ffff;
text-align: center;
border-radius: 20px;
margin: 200px;
    height: 700px;
    }

    .hthree{
    margin-top: 140px;
    margin-bottom: 40px;
    
}
.login {
width: 300px;
height: 50px;
border-radius: 185px
}

    .icon{
        margin-top: 36px;
    justify-items: center;
    }

    .navbar{
border-radius: px;
    }

    .img{
        margin-top: 100px;
    }
.number5{
    font-size: 1px;
    color: green;
}

.h6{
    color: green;
    font-size: 5px;
}  
.h5-2{
    color: black;
}