body{
background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
}
    .container{
        
            max-width: 1400px;
         
     
background: #ffff;
text-align: center;
border-radius: 20px;
margin: 200px;
    height: 700px;
    }

    .hthree{
    margin-top: 140px;
    margin-bottom: 40px;
    
}
.login {
width: 250px;
height: 40px;
border-radius: 185px
}
.details{
margin-left: 130px;
}
.icon{
        margin-top: 36px;
    justify-items: center;
    }

   

  .img{
        margin-top: 100px;
    }
.number5{
    font-size: 1px;
    color: green;
}

.h6{
    color: green;
}  
.h5-2{
    color: black;
}

@media(max-width:800px) {
    .img{
        width:250px; 
        margin-top: 15px;
        margin-left: 35px;
        text-align: center;
       }

       .hthree{
        margin-top: 20px;
        margin-bottom: 40px;
        
    }

    .details{
        margin-left: 40px;
        }

     
    


}